*.class
*.eml
*.iml
.cache
.project
.classpath
.idea_modules/**/*
.idea/**/*
.settings/org.scala-ide.sdt.core.prefs

/logs/**/*

*.DS_Store

project/project/**/*
project/target/**/*

target/**/*

target/.history
/logs
/target
/bin
/sdklog

sdklog/**/*
sdklog/*


sdklog/sdkclient_CommunicateLog_info

sdklog/sdkclient_EMAYSDK_info

sdklog/sdkclient_EMAYSDK_info

.settings/org.eclipse.core.resources.prefs

src/main/webapp/.idea/*

database/unit_test.trace.db

.history

.settings/org.eclipse.wst.xsl.core.prefs

database/target/.history

database/unit_test.trace.db

database/unit_test.h2.db

*.db

O2OMall.sublime-project

O2OMall.sublime-workspace

*.class

*.cache

*.swp
