*.class
*.eml
*.iml
.cache
.project
.classpath
.idea_modules/**/*
.idea/**/*
.settings/org.scala-ide.sdt.core.prefs

/logs/**/*
*.DS_Store
project/project/**/*
project/target/**/*
project/target/**/**/*
target/**/*
target/
project/target/
logs/**
bin
sdklog
sdklog/**/*
sdklog/*
sdklog/**
.settings/org.eclipse.core.resources.prefs
src/main/webapp/.idea/*
database/unit_test.trace.db
.history
.settings/org.eclipse.wst.xsl.core.prefs
*.db

